.accreditation {
  padding: 77px 0 90px;
}

.accreditation__heading {
  margin-bottom: 22px;
}

.accreditation__description {
  margin: 0 0 33px;
}

.accreditation__steps {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: step;
}

.accreditation__step {
  position: relative;
  padding: 40px 9px 50px 122px;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    width: 100px;
    height: 100px;
    font-size: 36px;
    line-height: 100px;
    font-weight: 500;
    text-align: center;
    color: $theme-color;
    border: 3px solid $theme-color;
    border-radius: 50%;
    counter-increment: step;
    content: counter(step);
  }
}

.accreditation__step-info {
  margin: 0 0 35px;
}
