.accreditation {
  padding: 77px 0 90px;
}

.accreditation__heading {
  margin-bottom: 22px;
}

.accreditation__description {
  margin: 0 0 33px;
}

.accreditation__steps {
  margin: 0;
  padding: 0;
  list-style: none;
}

.accreditation__step {
  padding: 40px 9px 50px 22px;
}

.accreditation__step-info {
  margin: 0 0 35px;
}
