.button {
  box-sizing: border-box;
  display: inline-block;
  width: 220px;
  padding: 11px 0 10px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $theme-color;
}

.button__feedback {
  box-sizing: border-box;
  width: 310px;
  padding: 20px;
  background-color: transparent;
  border: 1px solid #ffffff;

  &--white {
    font-weight: 500;
    color: $theme-color;
    background-color: #ffffff;
  }
}

.button__submit {
  box-sizing: border-box;
  width: 310px;
  padding: 20px;
}
