.contact-card {
  width: 310px;
  padding-bottom: 30px;
  background-color: #ffffff;
}

.contact-card__image {
  margin-bottom: 20px;
}

.contact-card__item {
  margin-bottom: 21px;
  // padding: 0 20px;
}
