.expert {
  box-sizing: border-box;
  width: 310px;
  padding: 20px 9px 40px 20px;
  text-align: center;
  background-color: #ffffff;
}

.expert__photo {
  display: inline-block;
  margin-bottom: 18px;
  border-radius: 50%;
}

.expert__name {
  margin: 0 0 6px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: $theme-color;
}

.expert__position {
  margin: 0 0 14px;
}

.expert__competence {
  font-weight: 500;
  margin: 0 0 20px;
}

.expert__button {
  margin-bottom: 20px;
}

.expert__contacts {
  & a {
    font-size: 0;
    margin-right: 19px;
  }
}
