.page-header__top {
  padding: 15px 0;
}

.page-header__contact-label {
  margin-bottom: 5px;
}

.page-header__contact-content {
  text-transform: uppercase;
}

.page-header__bottom {
  padding: 14px 0 13px;
  background-color: $theme-color;
}
