.page-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-navigation__link {
  font-size: 20px;
  line-height: 23px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
