.site-search {
  position: relative;
  display: inline-block;
}

.site-search__field {
  box-sizing: border-box;
  width: 200px;
  height: 30px;
  padding-left: 12px;
  padding-right: 35px;
  font-style: italic;
  color: rgba(255, 255, 255, 0.75);
  border: 1px solid #ffffff;
  background-color: transparent;

  &::placeholder {
    color: rgba(255, 255, 255, 0.75);
  }
}

.site-search__button {
  position: absolute;
  top: 6px;
  right: 12px;
  display: inline-block;
  padding: 0;
  border: none;
  background: transparent;
}
