.start-screen {
  margin-bottom: 20px;
  padding: 65px 0 80px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $screen-color;
  background-image: url("../images/buildings-tall-desktop@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.start-screen__title {
  margin: 0 0 13px;
  font-size: 48px;
  line-height: 56px;
  font-weight: 700;
}

.start-screen__subtitle {
  margin: 0 0 48px;
  font-size: 18px;
  line-height: 21px;
}

.start-screen__button {
  margin-bottom: 56px;
}

.start-screen__advantages {
  margin: 0;
  padding: 0;
  list-style: none;

  font-size: 16px;
  line-height: 19px;
}

.start-screen__advantage-icon {
  & svg {
    fill: #ffffff;
    vertical-align: middle;
  }
}

.start-screen__form-label {
  color: #ffffff;
}

.start-screen__form-field {
  background-color: rgba(255, 255, 255, 0.5);
}
