// Colors
$theme-color: #136050;
$second-color: #f2f2f2;
$screen-color: #759d94;
$text-color: #333333;

// Breakpoints
$mobile-breakpoint: "576px";
$mobile-container: "540px";

$tablet-breakpoint: "768px";
$tablet-container: "720px";

$desktop-breakpoint: "1330px";
$desktop-container: "1300px";
